body{
    margin-top: 100px;
    background-color: #E0CD67;
}

h1 {
    font-family: Georgia, 'Times New Roman', Times, serif ;
    font-size: 100px;
    text-decoration: underline;
    color: black;
    text-align: center;
    background: brown;
    background-size: cover;
    padding: 20px;
    border: 2px solid black;
    margin: 0px auto;
    z-index: 2;
    border-radius: 5px;
    
}

h2 {
    text-align: center;

}

h3 {
    text-align: center;
}

p {
    text-align: center;
}

#Blog_content {
    overflow-y: scroll;
    overflow-x: hidden;
    height: 500px;
}

#Projects {
    overflow-y: scroll;
    overflow-x: hidden;
    height: 500px;
}

#Links_list {
    text-align: center;
}

#image_1 {
    width: 800px;
    height: 500px;
    margin: 0 auto;
    padding-left: 30%;
    padding-right: 20%;
    z-index: 1;
    border-radius: 50%;
    
}

#ButtonAD {
    position: absolute;
    top: 50%; /* Adjust this value to vertically position the button */
    left: 50%; /* Adjust this value to horizontally position the button */
    transform: translate(-50%, -50%);
    background-color: brown; /* Add a background color for better visibility */
    color: goldenrod; /* Set text color */
    padding: 10px 20px; /* Add padding for better appearance */
    border: none; /* Remove border */
    border-radius: 5px; /* Add border-radius for rounded corners */
    cursor: pointer;
}

#subtitle{
    color: #E0CD67 ;
    border: black;

}

#audio{
    display: block;
    color: brown;
    width: 100%;
    padding-left: 40%;
    padding-right: 40%;
}


#navigation {
    list-style-type: none;
    color: aliceblue;
    background-color: brown;
    padding: 30px;
    transition: background-color 0.3s ease;
    border: 2px solid black;
    position: fixed;
    margin: 0;
    width: 100%;
    top: 0;
    overflow: hidden;
    z-index: 3;
    border-radius: 5px;
}

#navigation li {
    float: left;
}

#navigation li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#navigation li a:hover {
    color: black;
    background-color: gold;
    box-shadow: 5px 2px 5px rgba(0,0,0,0.30);
    border-radius: 50%;

}

#navigation li a:active {
    color: goldenrod;
    background-color: brown;
    box-shadow: none;

}