body{
    margin-top: 100px;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 100Px;
    opacity: 50%;
    color: black;
    text-align: center;
    background: brown;
    background-size: cover;
    padding: 20px;
    border: 2px solid black;
    border-radius: 20%;
    margin: 0px auto;
    
}

#image_1 {
    width: 500px;
    height: 500px;
    margin: 0 auto;
}


#navigation {
    list-style-type: none;
    color: aliceblue;
    background-color: brown;
    padding: 30px;
    transition: background-color 0.3s ease;
    border: 2px solid black;
    border-radius: 20%;
    position: fixed;
    margin: 0;
    width: 100%;
    top: 0;
    overflow: hidden;
    z-index: 2;
}

#navigation li {
    float: left;
}

#navigation li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#navigation li a:hover {
    color: black;
    background-color: gold;
    box-shadow: 5px 2px;
    border-radius: 20%;

}