/* body{
    margin-top: 100px;
    background-color: gold;
    opacity: 50%;
    position: relative;
} */

h1 {
    font-family: Georgia, 'Times New Roman', Times, serif ;
    font-size: 100px;
    text-decoration: underline;
    color: black;
    text-align: center;
    background: brown;
    background-size: cover;
    padding: 20px;
    border: 2px solid black;
    margin: 0px auto;
    border-bottom: 2px solid gold;
    z-index: 2;
    
}

#image_1 {
    width: 100%;
    height: 500px;
    margin: 0 auto;
    padding-left: 25%;
    padding-right: 25%;
    z-index: 1;
}


#navigation {
    list-style-type: none;
    color: aliceblue;
    background-color: brown;
    padding: 30px;
    transition: background-color 0.3s ease;
    border: 2px solid black;
    position: fixed;
    margin: 0;
    width: 100%;
    top: 0;
    overflow: hidden;
    z-index: 3;
}

#navigation li {
    float: left;
}

#navigation li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#navigation li a:hover {
    color: black;
    background-color: gold;
    box-shadow: 5px 2px;
    border-radius: 20%;

}

#navigation li a:active {
    color: brown;

}